.global {
    margin: 0 auto;
    background: #f6f6f6;
    width: 1200px;
    height: 2000px;
}
.firstLine {
    float: left;
    width: 1200px;
    height: 150px;
    background: #f6f6f6;
}

.secondLine {
    float: left;
    width: 1200px;
    height: 113px;
    background: gray;
}
.clear {
    clear: both;
}
