.global {
    margin: 0 auto;
    background: #f6f6f6;
    width: 1200px;
}
.firstLine {
    float: left;
    width: 1200px;
    height: 150px;
    background: #f6f6f6;
}

.firstImgOuter {
    float: left;
    margin-left: 130px;
    margin-top: 15px;
    width: 120px;
    height: 120px;
}
.iconSkokov {
    float: left;
    width: 120px;
    height: 120px;
}
.firstTow {
    float: left;
    margin-left: 350px;
    width: 600px;
    height: 150px;
}
.homePage {
    float: left;
    margin-left: 40px;
    height: 150px;
    line-height: 150px;
    font-size: 15px;
    font-weight: bold;
}
.team {
    float: left;
    margin-left: 40px;
    height: 150px;
    line-height: 150px;
    font-size: 15px;
    font-weight: bold;
}
.blogs {
    float: left;
    margin-left: 40px;
    height: 150px;
    line-height: 150px;
    font-size: 15px;
    font-weight: bold;
}
.aboutUs {
    float: left;
    margin-left: 40px;
    height: 150px;
    line-height: 150px;
    font-size: 15px;
    font-weight: bold;
}

.secondLine {
    float: left;
    width: 1200px;
    height: 113px;
    background: gray;
}
.blogImg {
    float: left;
    width: 1200px;
    height: 113px;
}

.mainLine {
    float: left;
    width: 1200px;
    height: 1500px;
    background: #f6f6f6;
}
.mainBox {
    float: left;
    margin-left: 18px;
    margin-top: 50px;
    width: 390px;
    height: 1330px;
}
.girlxx01 {
    float: left;
    width: 390px;
    height: 292.5px;
}

.explain {
    float: left;
    width: 390px;
    height: 50px;
    background: #fde902;
}
.blogBox {
    float: left;
    margin-top: 20px;
    width: 390px;
    height: 400px;
    background: #fde902;
}
.blogBoxT2 {
    float: left;
    width: 390px;
    height: 400px;
    background: #fde902;
}
.search {
    float: left;
    margin-left: 18px;
    margin-top: 50px;
    width: 350px;
    height: 50px;
    background: #424147;
}
.suggest {
    float: left;
    margin-left: 18px;
    margin-top: 20px;
    width: 350px;
    height: 400px;
    background: #424147;
}
.label {
    float: left;
    margin-left: 18px;
    margin-top: 20px;
    width: 350px;
    height: 150px;
    background: #424147;
}

.clear {
    clear: both;
}
